<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Logger" type="Logging.LoggerConfiguration, Logging" />
  </configSections>
    <Logger type="Logging.FileLogger" parameter="log.txt"/>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>