<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="components" type="ComponentsLoader.ComponentsConfiguration, ComponentsLoader" />
  </configSections>
  <components>
    <component type="Calculator.ICalculator, Calculator" name="My Calculator2" version="2.0" publisher="MJayJ II"/>
    <component type="Calculator.ICalculator, Calculator" name="My Calculator" version="1.0" publisher="MJayJ"/>
    <component type="Calculator.ICalculator, Calculator" name="My Calculator"/>
    <component type="StringManipulator.IStringManipulator, StringManipulator" name="Reversing String Manipulator" directory="."/>
    <component type="StringManipulator.IStringManipulator, StringManipulator" name="Uppercase String Manipulator" version = "1.0"/>
    <component type="StringManipulator.IStringManipulator, StringManipulator" name="Lowercase String Manipulator" publisher ="MJayJ"/>
  </components>
</configuration>