<?xml version="1.0" encoding="utf-8" ?>
<config>
  <logger>
    <type>Logging.ConsoleLogger</type>
    <parameter>Green;Yellow;Red;Red</parameter>
    <filter>Information</filter>
  </logger>
  <legion>
    <server>
      <tasks>
        <item>
          <component>
            <type>LegionContract.LegionTask, LegionContract</type>
            <name></name>
            <directory></directory>
          </component>
          <dataIn>
            <item></item>
          </dataIn>
          <dataOut></dataOut>
          <orderedDataOut></orderedDataOut>
          <timeout>0</timeout>
        </item>
      </tasks>
    </server>
  </legion>
  <network>
    <address>127.0.0.1</address>
    <port>6000</port>
    <bufferSize>20000</bufferSize>
    <queue>100</queue>
  </network>
</config>